*{
	box-sizing: border-box;
}

html,body{
	margin: 0 5px;
	padding: 0;
}

ul,li{
	margin: 0;
}

p,h1,h2,h3,h4,h5,h6 {
	font-family: 'Helvetica';
	margin: 0;
	padding: 0;
	color: #333;
}

ul{
	list-style: none;
	margin-left:0;
	padding: 0;
}

.menu-item{
	display: block;
	min-height: 150px;
	margin-bottom: 20px;
}

li:nth-last-child(1) .menu-item{
	margin-bottom: 0px;
}

.menu-item::after{
	content: '';
	display: block;
	clear: both;
}

.menu-item-text{
	float: right; 
	width: 70%;
	padding-left:1%;
}

.menu-item-thumbnail{
	float: left;
	width: 30%;
}